
.block-cars-wrapper {
	margin-bottom: 5rem;

	@media (min-width: $sizeMD) {
		margin-bottom: 8rem;
	}
	&__header {
		color: $colorGreyDefault;
		font-size: 2rem;
		font-family: 'PT Root UI Web Bold', sans-serif;
		text-align: center;
		margin-bottom: 4rem;
		@media (min-width: $sizeMD) {
			font-size: 3.875rem;
		}
	}

	&-list {

		&__item {
			height: 100%;
			background: white;
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.10);
			border-radius: 6px;
			overflow: hidden;

			& .photo {
				width: 100%;
				height: auto;
			}

			&-body {
				padding: 0.75rem;
				display: flex;
				&__logo {
					width: 4rem;
					height: auto;
					img {
						width: 100%;
					}
				}
				&__info {
					margin-left: 1rem;

					& .title {
						font-family: 'Muller Bold', sans-serif;
						color: $colorBlueDefault;
						font-size: 1.125rem;
					}
					& table.information {
						margin-bottom: 1rem;
						font-family: 'Muller Regular', sans-serif;
						color: $colorGreyDark;
						td {
							font-size: 0.875rem;
							padding-bottom: 0.375rem;
							&:first-child {
								padding-right: 1rem;
							}
						}
					}

					& .price {
						font-family: 'Muller Regular', sans-serif;
						font-size: 0.875rem;
						color: $colorGreyDefault;

						& span {
							display: inline-block;
							padding-right: 0.375rem;
							margin-bottom: 0.25rem;
							&.count {
								font-family: 'Muller Bold', sans-serif;
								color: $colorBlueDefault;
								font-size: 1.25rem;
							}
						}
					}
				}
			}
		}
	}
}
