
.block-check-price {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30rem;

	&-wrapper {
		padding: 3rem 1rem;
		background-image: url("/static/img/pictures/bg-car-check-price.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		position: relative;
	}


	&__title {
		font-family: "Muller Regular", sans-serif;
		display: flex;
		justify-content: center;
		h3 {
			color: white;
			font-size: 1.625rem;
			text-align: center;
			font-weight: normal;
			margin-bottom: 3rem;
			max-width: 600px;
			width: 100%;
			@media (min-width: $sizeMD) {
				font-size: 2.25rem;
			}
			@media (min-width: $sizeLG) {
				font-size: 3rem;
				max-width: 100%;
			}
		}
	}

	& .form-check-price {
		overflow: hidden;
		& > * {
			max-width: 600px;
			width: 100%;
			box-sizing: border-box !important;
		}
		@media (min-width: $sizeLG) {
			align-items: unset;
			& > * {
				//max-width: 25rem;
				//width: 100%;
			}
		}

		@media (min-width: $sizeSM) {
			& > .btn {
				max-width: 14rem;
			}
		}
		@media (min-width: $sizeLG) {
			& > .btn {
				max-width: unset;
			}
		}
	}
}



.form-check-price {
	display: flex;
	flex-direction: column;
	//overflow: hidden;
	border-radius: 0;

	@media (min-width: 992px) {
		border-radius: 10rem;
		flex-direction: row;
	}

	& .form-group {
		margin: 0;
		position: relative;
		margin-bottom: 1rem;

		@media (min-width: 992px) {
			margin-bottom: 0;
		}

		&:after {
			content: "";
			height: 2.75rem;
			position: absolute;
			left: 0;
			top: 0.5rem;
			@media (min-width: 992px) {
				border-left: 1px solid $colorGreenDefault;
			}
		}
		&:first-child {
			&:after {
				border-left: unset;
			}
		}
		& .form-control {
			outline: none;
			outline-offset: 0;
			background-color: transparent;
			border-radius: 0;
			font-family: "Muller Medium", sans-serif;
			box-sizing: border-box;
			height: 100%;
			color: white;
			border: none;
			padding: 0.75rem 0 0.55rem;
			border-bottom: 1px solid rgba(255,255,255,0.75);
			font-size: 1rem;
			letter-spacing: 0.02rem;
			&::placeholder {
				color: white;
			}
			&:focus {
				box-shadow: none;
			}
			@media (min-width: 992px) {
				font-size: 1rem;
				border: none;
				background-color: white;
				color: $colorGreyDefault;
				padding: 1.5rem 2rem 1.25rem;
				border-radius: 0;
				&::placeholder {
					color: $colorGreyDefault;
				}
			}
		}
	}
	& .btn-primary {
		border: none;
		padding: 1rem 2rem 0.75rem;
		font-family: "Muller Regular", sans-serif;
		//box-sizing: border-box;
		box-sizing: content-box;
		flex: 1;
		border-radius: 10rem;
		margin-top: 2rem;
		font-size: 1.125rem;
		letter-spacing: 0.02rem;
		@media (min-width: $sizeLG) {
			border-radius: 0;
			margin-top: 0;
			//box-sizing: content-box;
		}
	}



	&.form-modal {
		flex-direction: column;
		//overflow: hidden;
		border-radius: 0;
		.form-group {
			margin-bottom: 1rem;
			&:after {
				display: none;
			}
			.form-control {
				border-radius: 0;
				color: $colorGreyDefault;
				border-bottom: 1px solid $colorGreenDefault;
				background: transparent;

				padding: 1rem 0 0.75rem;

				&::placeholder {
					color: $colorGreyDefault;
				}
			}
		}
		.btn-primary {
			background: $colorGreenDefault !important;
			font-family: "PT Root UI Web Bold", sans-serif;
			border-radius: 5rem;
			margin-bottom: 2rem;
			margin-top: 2rem;
			padding: 0.75rem;
		}
	}
}
