.block-features-wrapper {
	margin-bottom: 5rem;

	&__header {
		color: $colorGreyDefault;
		font-family: 'Muller Bold', sans-serif;
		text-align: center;
		font-size: 2rem;
		margin-bottom: 4rem;
		@media (min-width: $sizeMD) {
			font-size: 3.875rem;
		}
	}
	&-list {
		justify-content: space-between;
		&__item {
			text-align: center;
			margin-bottom: 3.5rem;

			& img {
				width: 6rem;
				height: auto;
			}
			& .title {
				font-family: 'Muller Bold', sans-serif;
				color: $colorGreenDefault;
				font-size: 1.5rem;
				line-height: 1.625rem;
				margin-bottom: 0.75rem;
				@media (min-width: $sizeMD) {
					margin-top: 2rem;
				}
			}
			& .description {
				font-size: 1.125rem;
				line-height: 1.5rem;
				font-family: 'Muller Regular', sans-serif;
				color: $colorGreyDefault;
			}
		}
	}
}
