.block-map-wrapper {
	position: relative;
	overflow: hidden;

	& > ymaps {
		height: 100%;
		transform: scale(1.25);
		@media (min-width: $sizeMD) {
			transform: unset;
		}
	}
	& > .container {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		@media (min-width: $sizeMD) {
			position: unset;
		}
	}

	&__card {
		&-wrapper {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 1rem;
			@media (min-width: $sizeMD) {
				left: 3rem;
				top: 4rem;
				padding: 0;


				right: unset;
				bottom: unset;

				width: 20rem;
			}
			@media (min-width: $sizeFS) {
				left: calc(50% - 30rem);
			}
		}

		background: $colorGreenVeryLight;
		box-shadow: 0px 8px 16px #0000001A;
		padding: 2rem;
		height: 100%;
		border-radius: 6px;

		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: $sizeSM) {
			display: block;
			justify-content: unset;
			flex-direction: unset;
			padding: 3rem 4rem;
		}


		.city {
			font-family: "Muller Bold", sans-serif;
			color: $colorGreenDefault;
			font-size: 2.25rem;
		}

		.address {
			font-family: "Muller Medium", sans-serif;
			color: $colorGreenDefault;
			font-size: 1.125rem;
		}

		.work-time {
			font-family: "PT Root UI Web Regular", sans-serif;
			color: $colorGreenDefault;
			font-size: 1.125rem;
			max-width: 9rem;
			margin: 2rem 0 4rem;
		}

		.phone, .email, .find-point {
			color: $colorGreyDefault;
			font-family: "PT Root UI Web Medium", sans-serif;
			font-size: 1.125rem;
			position: relative;
			padding-left: 2rem;
			line-height: 1.25rem;

			&:before {
				content: "";
				background-image: url("/static/img/icons/phone_g.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				position: absolute;
				left: 0;
				height: 1.25rem;
				width: 1.25rem;
			}
		}

		.phone {
			&:before {
				background-image: url("/static/img/icons/phone_g.svg");
			}
		}

		.email {
			&:before {
				background-image: url("/static/img/icons/letter_g.svg");
			}
		}

		.find-point {
			font-family: "Muller Regular", sans-serif;
			color: $colorGreenDefault;
			margin-top: 2rem;

			&:before {
				background-image: url("/static/img/icons/map.svg");
				transform: scale(1.5);
			}
		}

		.text {
			font-family: "PT Root UI Web Medium", sans-serif;
			color: $colorGreyDefault;
		}

	}
}
