.block-maxprice {


	.triagle {
		img {
			width: 100%;
			height: 5rem;
		}
	}
	&-wrapper {
		background: $colorGreenDefault;

		&__car {
			position: relative;
			height: 42rem;
			img	{
				position: absolute;
				right: 0;
			}
		}
	}
}
