
.block-steps {
	&-wrapper {
		padding-bottom: 5rem;
		background: $colorGreenVeryLight;
	}
	&__header {
		color: $colorGreyDark;
		font-size: 2rem;
		font-family: 'PT Root UI Web Bold', sans-serif;
		text-align: center;
		margin-bottom: 4rem;
		@media (min-width: $sizeMD) {
			font-size: 3.875rem;
		}
	}
	&-list {
		//display: flex;
		justify-content: space-between;
		&__item {
			margin: 0 0 4rem;

			@media (min-width: $sizeFS) {
				margin: 0 3rem 5rem;
			}
			& .number {
				font-family: 'Roboto Bold', sans-serif;
				color: $colorGreenDefault;
				font-size: 5rem;
				font-weight: bold;
				letter-spacing: 3px;
				margin-bottom: 0;
				@media (min-width: $sizeMD) {
					font-size: 7rem;
					margin-bottom: 1rem;
				}
			}
			& .title {
				font-family: 'Muller Medium', sans-serif;
				color: $colorGreenDefault;
				font-size: 1.25rem;
				line-height: 1.625rem;
				margin-top: 0;
				margin-bottom: 0.75rem;
				letter-spacing: 0.02rem;
				@media (min-width: $sizeMD) {
					font-size: 1.5rem;
				}
			}
			& .description {
				font-size: 1rem;
				line-height: 1.5rem;
				color: $colorGreyDark;
				font-family: 'Muller Regular', sans-serif;
				@media (min-width: $sizeMD) {
					font-size: 1.125rem;
				}
			}
		}
	}
}
