@font-face {
	font-family: 'Muller Regular';
	src: url("../fonts/MullerRegular.woff");
}

@font-face {
	font-family: 'Muller Bold';
	src: url("../fonts/MullerBold.woff");
}

@font-face {
	font-family: 'Muller Medium';
	src: url("../fonts/MullerMedium.woff");
}

@font-face {
	font-family: 'Roboto Bold';
	src: url("../fonts/Roboto-Bold.woff");
}
