// Configuration
@import "variables";
@import "colors";
// Libs
@import "reset";
// Custom
@import "structure";
@import "typography";
@import "fonts";


@import "modal";

@import "blocks/blocks";
@import "page/page";


body {
	background: $colorGreenVeryLight;
}

//Custom size of container
@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1520px;
	}
}


.col-p-small {
	padding: 0 0.5rem;
}

.btn-primary {
	background: $colorBlueDefault !important;
}




a {
	&:hover {
		text-decoration: none;
	}
}


