
.bg-green {
	background: $colorGreenDefault;
}

.navbar {
	padding: 1rem 0;
	height: unset;
	@media (min-width: $sizeMD) {
		height: 6rem;
	}

	.navbar-site-logo {
		display: flex;
		flex-direction: column;

		@media (min-width: $sizeMD) {
			flex-direction: row;
			align-items: center;
		}

		& img {

			max-width: 60px;
			@media (min-width: $sizeMD) {
				max-width: unset;
			}
		}
		& .slogan {
			font-size: 0.875rem;
			margin: 0;
			margin-top: 0.5rem;
			font-weight: normal;
			font-family: 'Muller Regular', sans-serif;
			@media (min-width: $sizeMD) {
				margin-top: 0;
				margin-left: 3rem;
				font-size: 1.375rem;
			}
		}
	}
	.navbar-worktime {
		font-size: 1.125rem;
		margin: 0;
		font-weight: normal;
		font-family: 'Muller Regular', sans-serif;
		max-width: 10rem;
	}

	.navbar-phone {
		position: relative;
		line-height: 1.25rem;
		font-size: 1.25rem;
		font-family: 'Roboto Bold', sans-serif;
		display: flex;
		align-items: center;
		&::before {
			content: "";

			background-image: url("/static/img/icons/phone.svg");
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			height: 1.5rem;
			width: 1.5rem;
			left: -2rem;
			margin-right: 0.5rem;
		}

		@media (min-width: $sizeMD) {
			line-height: 1.75rem;
			font-size: 1.75rem;
			&::before {
				height: 2rem;
				width: 2rem;
				left: -2rem;
				margin-right: 0.5rem;
			}
		}
	}
	.navbar-copyright {
		font-family: 'Muller Regular', sans-serif;
		color: $colorGreyDark;
		font-size: 0.875rem;
		margin-top: 0.75rem;
		@media (min-width: $sizeMD) {
			font-size: 1.375rem;
			margin-top: 0;
		}
	}

	&.bg-green {
		.slogan,.navbar-phone, .navbar-worktime {
			color: white;
		}
	}
	&.bg-white {
		.slogan{
			color: $colorGreyDark;
		}
	}
}



footer.navbar {
	.container {
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $sizeMD) {
			flex-direction: row;
			align-items: center;
		}
	}
}
