
.bg-green {
	background: $colorGreenDefault;
}

.bg-white {
	background: $colorGreenVeryLight !important;
}



.navbar {
	padding: 1rem 0;
	height: unset;
	box-shadow: 0px 8px 16px #02020234;
	z-index: 1;
	@media (min-width: $sizeMD) {
		height: 5rem;
	}

	.navbar-site-logo {
		display: flex;
		flex-direction: column;

		@media (min-width: $sizeMD) {
			flex-direction: row;
			align-items: center;
		}

		& img {

			max-width: 75px;
			@media (min-width: $sizeMD) {
				max-width: unset;
			}
		}
		& .slogan {
			font-size: 1.5rem;
			margin: 0;
			margin-top: 0.5rem;
			font-weight: normal;
			font-family: 'Muller Regular', sans-serif;
			@media (min-width: $sizeMD) {
				margin-top: 0;
				margin-left: 3rem;
			}
		}
	}
	.navbar-worktime {
		font-size: 1.125rem;
		margin: 0;
		font-weight: normal;
		font-family: 'PT Root UI Web Regular', sans-serif;
		max-width: 8rem;
	}

	.navbar-phone {
		position: relative;
		line-height: 1.5rem;
		font-size: 1.4rem;
		font-family: 'PT Root UI Web Regular', sans-serif;
		display: flex;
		align-items: center;
		@media (min-width: 320px) {
			font-size: 1.5rem;
		}
		&::before {
			content: "";

			background-image: url("/static/img/icons/phone.svg");
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			height: 1.5rem;
			width: 1.5rem;
			left: -2rem;
			margin-right: 0.5rem;
		}

		@media (min-width: $sizeMD) {
			line-height: 1.75rem;
			font-size: 1.75rem;
			&::before {
				height: 1.5rem;
				width: 1.5rem;
				left: -2rem;
				margin-right: 1rem;
			}
		}
	}
	.navbar-copyright {
		font-family: 'Muller Regular', sans-serif;
		font-family: 'PT Root UI Web Regular', sans-serif;
		color: $colorGreyDark;
		font-size: 0.875rem;
		margin-top: 0.75rem;
		@media (min-width: $sizeMD) {
			font-size: 1.5rem;
			margin-top: 0;
		}
	}

	&.bg-green {
		.slogan,.navbar-phone, .navbar-worktime {
			color: white;
		}
	}
	&.bg-white {
		.slogan{
			color: $colorGreyDark;
		}
	}
}



footer.navbar {
	@media (min-width: $sizeMD) {
		height: 8rem;
	}
	.container {
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $sizeMD) {
			flex-direction: row;
			align-items: center;
		}
	}
}


@keyframes callback-pulse {
	from {
		transform: scale(0.5);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: 0;
	}
	to {
		opacity: 0;
	}
}


.nav-callback {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	z-index: 10;
	box-shadow: 0px 8px 16px #02020234;
	transition: 0.3s;
	transform: scale(1);
	&:hover {
		transform: scale(1.1);
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 3.5rem;
		width: 3.5rem;
		border-radius: 50%;

		box-shadow: inset 0 0 9px 3px $colorGreenDefault;

		z-index: 11;

		animation: 2s ease-in callback-pulse infinite;
	}
	&-icon {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url("/static/img/icons/call.svg");
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 12;
		cursor: pointer;
	}
}
