{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<footer class="navbar bg-white">
	<div class="container">
		<div class="navbar-site-logo">
			<a class="navbar-brand" href="/">
				{% image settings.core.SiteSettings.logo_bottom max-200x200 as logo_pic %}
				<img class="" src="{{ logo_pic.url }}" width="100" alt="{{ logo_pic.alt }}">
			</a>

			{% if settings.core.SiteSettings.slogan_top %}
				<h2 class="slogan">{{ settings.core.SiteSettings.slogan_bottom }}</h2>
			{% endif %}
		</div>

		<span class="navbar-copyright">
		{% if settings.core.SiteSettings.text_bottom %}
			{{settings.core.SiteSettings.text_bottom}}
		{% else %}
			© {% now 'Y' %} Все права защищены
		{% endif %}
		</span>

	</div>
</footer>


<div class="nav-callback btnAction" data-action="open-callback-form">
	<div class="nav-callback-icon"></div>
</div>
