
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<nav class="navbar bg-green">
	<div class="container">
		<div class="navbar-site-logo">
			<a class="navbar-brand" href="/">
				{% image settings.core.SiteSettings.logo_top max-200x200 as logo_pic %}
				<img class="" src="{{ logo_pic.url }}" width="100" alt="{{ logo_pic.alt }}">
			</a>

			{% if settings.core.SiteSettings.slogan_top %}
				<h2 class="slogan d-none d-lg-block">{{ settings.core.SiteSettings.slogan_top }}</h2>
			{% endif %}
		</div>

		{% if settings.core.SiteSettings.work_time %}
			<div class="navbar-worktime d-none d-xl-block">
				{{ settings.core.SiteSettings.work_time }}
			</div>
		{% endif %}

		{% if settings.core.SiteSettings.phone %}
			<a href="tel:{{ settings.core.SiteSettings.phone }}">
				<span class="navbar-phone">{{ settings.core.SiteSettings.phone }}</span>
			</a>
		{% endif %}
	</div>
</nav>
