<nav class="navbar bg-green">
	<div class="container">
		<div class="navbar-site-logo">
			<a class="navbar-brand" href="#">
				<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" alt="">
			</a>

			{% if settings.core.SiteSettings.slogan_top %}
				<h2 class="slogan">{{ settings.core.SiteSettings.slogan_top }}</h2>
			{% endif %}
		</div>

		{% if settings.core.SiteSettings.phone %}
			<a href="tel:{{ settings.core.SiteSettings.phone }}">
				<span class="navbar-phone">{{ settings.core.SiteSettings.phone }}</span>
			</a>
		{% endif %}
	</div>
</nav>
