{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<div class="block-cars-wrapper">
	<div class="container">
		<h2 class="block-cars-wrapper__header mb-5">{{ self.title }}</h2>

		<div class="row block-cars-wrapper-list">
			{% for c in self.cars %}
				<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 col-p-small">
					<div class="block-cars-wrapper-list__item">
						{% image c.image fill-400x250 as car_pic %}
						<img src="{{ car_pic.url }}" width="{{ car_pic.width }}" height="{{ car_pic.height }}" alt="{{ car_pic.alt }}" class="photo" />

						<div class="block-cars-wrapper-list__item-body">
							<div class="block-cars-wrapper-list__item-body__logo">
								{% image c.logo max-400x250 as logo_pic %}
								<img class="" src="{{ logo_pic.url }}" alt="">
							</div>

							<div class="block-cars-wrapper-list__item-body__info">
								<p class="title">{{c.title}}</p>

								<table class="information">
									<tr>
										<td>
											Год выпуска:
										</td>
										<td>
											{{c.year}}
										</td>
									</tr>
									<tr>
										<td>
											Обьем двигателя:
										</td>
										<td>
												{{c.engine}}
										</td>
									</tr>
									<tr>
										<td>
											Коробка передач:
										</td>
										<td>
											{{c.gear}}
										</td>
									</tr>
								</table>

								<p class="price">Выкуплен за <span>{{c.price}} руб</span></p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
