{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<div class="block-banner-wrapper">
	<div class="container">
		<div class="row block-banner-wrapper__content">
			<div class="col-12 col-lg-8 col-xl-5 block-banner-wrapper__info">

				<div class="block-banner-wrapper__title">
					<h1>
					<span class="fast">{{self.header1|default:'Срочный' }}</span>
					<span class="buy">{{self.header2|default:'выкуп авто' }}</span>
					<span class="city">{{self.header3|default:'В Воронеже и области' }}</span>
				</h1>
				</div>

				<div class="block-banner-wrapper__list">
					<ul>
					{% for i in self.items %}
						<li>
							{% image i.image fill-32x32 as item_pic %}
							<img src="{{ item_pic.url }}" width="{{ item_pic.width }}" height="{{ item_pic.height }}" alt="{{ item_pic.alt }}"/>
							{{i.text}}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>

			<div class="col-12 col-lg-4 col-xl-7 block-banner-wrapper__form">
				<form action="/orede" class="form-data-main" >
					<div class="form-check-price">
						<div class="form-group d-none d-xl-block">
							<input type="text" placeholder="Марка автомобиля" name="car" class="form-control" required="required" />
						</div>
						<div class="form-group d-none d-xl-block">
							<input type="text" placeholder="Ваш телефон" name="phone" class="form-control" required="required" />
						</div>
						<input type="submit" class="btn btn-primary btnAction" value="Узнать стоимость" data-action="send-form-data-main">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="triagle type-one"></div>
</div>
