{% load static %}
{% load wagtailcore_tags %}


<div class="block-maxprice">
	<div class="block-maxprice-wrapper">
		<div class="triagle">
			<img src="/static/img/icons/triangle2.svg" alt="">
		</div>
		<div class="container">

			<div class="row">
				<div class="block-maxprice-wrapper__car col-12 col-md-6 d-none d-md-block">
					<img src="/static/img/pictures/car_move.png" alt="">
				</div>
				<div class="block-maxprice-wrapper__info col-12 col-md-6">
					<h3>
						Узнайте максимальную цену выкупа Вашего авто
					</h3>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Launch demo modal
					</button>
				</div>
			</div>
		</div>

	</div>
</div>
